MONGODB_URI=mongodb+srv://sujit:1234@cluster0.wbtlwxn.mongodb.net/?appName=Cluster0
JWT_SECRET=your_jwt_secret_key_here_change_in_production
JWT_EXPIRE=7d
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here
RAZORPAY_WEBHOOK_SECRET=your_razorpay_webhook_secret_here
NODE_ENV=development
PORT=5000
